body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
}

#dataResult {
    margin-top: 20px;
}